<div class="col-md-12">
  <div class="card card-container">
    <div *ngIf="currentUser; else loggedOut">
      <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card"/>
      <div class="container2">
        <div class="container">
          <strong>Username: </strong>
          <ul>
            <li>
              {{ currentUser.username }}
            </li>
          </ul>
        </div>

        <div class="container">
          <strong>Token:</strong>
          <ul>
            <li>
              <i><small>{{ currentUser.token }}</small></i>
            </li>
          </ul>
        </div>

        <div class="container">
          <strong>Email:</strong>
          <ul>
            <li>
              {{ currentUser.email }}
            </li>
          </ul>
        </div>

        <div class="container">
          <strong>Roles:</strong>
          <ul>
            <li *ngFor="let role of currentUser.roles">
              {{ role }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ng-template #loggedOut>
      Please login.
    </ng-template>
    <div class="container3">
      <button class="material-cust-large-button" color="warn" mat-raised-button (click)="logout()">
        <mat-icon aria-hidden="false" aria-label="Login icon">login</mat-icon>
        Logout
      </button>
    </div>
  </div>
</div>
