.card-container.card {
  max-width: 550px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 30px 54px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 30px 54px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 30px 54px 0px rgba(0,0,0,0.3);
  word-wrap: break-word;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.75);
}

.container {
  padding: 5px;
}

.container2 {
  margin: 15px;
  border-color: #b8b8b8;
  background-color: #e7e7e7;
  border-style: solid;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.container3 {
  text-align: center;
}

.material-cust-large-button {
  width: 30%;
  font-size: 18px;
  font-style: italic;
}
