h1 {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 4px;
}

strong {
  font-size: 18px;
}

ul {
  margin: 5px;
  padding-left: 20px;
}

.container {
  padding: 5px;
  font-size: 15px;
}

.container2 {
  margin: 15px;
  border-color: #b8b8b8;
  background-color: #e7e7e7;
  border-style: solid;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.button-container {
  text-align: center;
}

.material-cust-large-button {
  margin-top: 15px;
  width: auto;
  font-size: 18px;
  font-style: italic;
}

#close-button {
  float:right;
}

mat-dialog-container {
  max-width: 25vh;
}
