<button id="close-button" mat-mini-fab class="option-button" color="warn" mat-icon-button (click)="closeDialog()">
  <mat-icon fontSet="material-icons-outlined" matSuffix
  >clear
  </mat-icon>
</button>
<h1 mat-dialog-title>Product details:</h1>
<mat-dialog-content>
  <div class="container2">
    <div class="container">
      <strong>ID: </strong>{{product.id}}
    </div>

    <div class="container">
      <strong>Name: </strong>{{product.name}}
    </div>


    <div class="container">
      <strong>Description: </strong>
      <ul>
        <li>
          {{product.description}}
        </li>
      </ul>
    </div>


    <div class="container">
      <strong>Price: </strong>${{product.price}}
    </div>

    <div class="container">
      <strong>Group ID: </strong>{{product.groupId}}
    </div>

    <div class="container">
      <strong>Sold: </strong>
      <span class="material-icons" *ngIf="product.sold">done</span>
    </div>
  </div>
</mat-dialog-content>
<div class="button-container">
  <button class="material-cust-large-button" (click)="goToUpdateComponent()" color="primary" mat-raised-button>
    Edit this product
  </button>
</div>
