<mat-grid-list cols="3" rowHeight="8:1" gutterSize="0px">
  <mat-grid-tile>
    <h1>Created by:</h1>
    <p>
      Jakub Słowikowski
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <a href="https://gitlab.com/KubaSlowikowski/" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/img/gitlab-icon-round.png" width="40" height="40">
    </a>
    <a href="https://www.linkedin.com/in/jakub-slowikowski/" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/img/linkedin-icon-round.png" width="40" height="40">
    </a>
    <a href="https://www.facebook.com/sekenuw/" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/img/facebook-icon-round.png" width="40" height="40">
    </a>
    <a href="https://github.com/KubaSlowikowski/" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/img/github-icon-round.png" width="40" height="40">
    </a>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
