h1 {
  margin: 0px;
  font-family: "Gloria Hallelujah";
  font-style: italic;
  font-size: 30px;
}

p {
  padding: 20px;
  margin-bottom: 0px;
  font-family: "Calligraffitti";
  font-style: italic;
  font-size: 30px;
}

mat-grid-tile {
  background: rgb(71, 0, 172);
}

a {
  padding-right: 20px;
}
