<button id="close-button" mat-mini-fab class="option-button" color="primary" mat-icon-button (click)="closeDialog()">
  <mat-icon fontSet="material-icons-outlined" matSuffix
  >clear
  </mat-icon>
</button>
<h1 mat-dialog-title>Error occured!</h1>
<mat-dialog-content>
  <h2>{{error.status}} <i>{{error.error}}</i></h2>
  <p>{{errorDescription}}</p>
</mat-dialog-content>
<div style="text-align: center" *ngIf="error.status>=401 && error.status <500">
  <button mat-raised-button color="primary" (click)="goToLogin()">
    <mat-icon aria-hidden="false" aria-label="Login icon">login</mat-icon>
    Login
  </button>
</div>
