<div class="col-md-12">
  <div class="card card-container">
    <form (ngSubmit)="submitForm()" [formGroup]="editProductForm" class="new-obj-form" id="register-form">

      <h1><i>Enter values below:</i></h1>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Name</mat-label>
        <input formControlName="name" id="title" matInput maxlength="100" #nameInput>
        <mat-hint align="end">{{nameInput.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editProductForm.controls.name.errors"
           class="invalid-feedback">
        <div *ngIf="editProductForm.controls.name.errors.maxlength">
          Name is too long
        </div>
        <div *ngIf="editProductForm.controls.name.errors.required">
          Name is required
        </div>
      </div>


      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Description</mat-label>
        <input formControlName="description" id="description" matInput maxlength="100" #descriptionInput/>
        <mat-hint align="end">{{descriptionInput.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editProductForm.controls.description.errors"
           class="invalid-feedback">
        <div *ngIf="editProductForm.controls.description.errors.maxlength">
          Description is too long
        </div>
        <div *ngIf="editProductForm.controls.description.errors.required">
          Description is required
        </div>
      </div>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Price</mat-label>
        <input type="number" formControlName="price" id="price" matInput/>
        <span matSuffix>$&nbsp;</span>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editProductForm.controls.price.errors"
           class="invalid-feedback">
        <div *ngIf="editProductForm.controls.price.errors.required">
          Price is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Group</mat-label>
        <mat-select formControlName="group" [(value)]="group" [compareWith]="compareGroups">
          <mat-option *ngFor="let group of groups" [value]="group">
            {{group.name}}
            <i><small>(ID: {{group.id}})</small></i>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button-container">
        <button style="float: left; margin-left: 20px;" color="primary" mat-mini-fab (click)="goBack()">
          <span class="material-icons">arrow_back</span>
        </button>
        <button style="float: right; margin-right: 20px;" color="primary" mat-raised-button type="submit">
          Update product
        </button>
      </div>

    </form>
  </div>
</div>
