.new-obj-form {
  width: 100%;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0a0a0a;
}

.invalid-feedback {
  font-size: 16px;
  color: #f80707;
  margin-bottom: 16px;
  text-align: left;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

/*.example-additional-selection:hover {*/
/*  color: #e01023;*/
/*}*/

.card-container.card {
  max-width: 500px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 30px 54px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 30px 54px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 30px 54px 0px rgba(0,0,0,0.3);
}
