<button id="close-button" mat-mini-fab class="option-button" color="primary" mat-icon-button (click)="closeDialog()">
  <mat-icon fontSet="material-icons-outlined" matSuffix
  >clear
  </mat-icon>
</button>
<h1>
  Please enter your email:
</h1>
<div class="form-field">
  <mat-form-field appearance="outline">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="email@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>

<div class="form-group-submit-button">
  <button (click)="onSubmit()" mat-raised-button color="primary">
    <span class="material-icons">email</span>
    Send mail
  </button>
</div>
