p {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 30px;
}

.example-ripple-container {
  text-align: center;

  width: 100%;
  height: 100vh;
  line-height: 300px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

/** Styles to make the demo look better. */
.example-ripple-checkbox {
  margin: 6px 12px 6px 0;
}

.example-ripple-form-field {
  margin: 0 12px 0 0;
}

