<div class="container">
  <div class="navbar-nav ml-auto" *ngIf="isLoggedIn">
    <app-profile></app-profile>
  </div>
  <div
    *ngIf="!isLoggedIn"
    class="example-ripple-container mat-elevation-z4"
    matRipple
    [matRippleUnbounded]=true
    [matRippleRadius]="radius"
    [matRippleColor]="color"

    (click)="onClick()">
    Click me!
  </div>
</div>
