<div class="button-container">
  <button style="margin-right: 5%;"
          color="primary"
          mat-raised-button routerLink="/products/add"
          [title]='"Click here to add new product"'>
    <span class="material-icons">add_circle_outline</span>
    Add new product
  </button>
  <button style="margin-left: 5%; margin-right: 5%;"
          color="primary"
          mat-raised-button (click)="openDownloadDialog()">
    <span class="material-icons">save_alt</span>
    Export table
  </button>
  <button style="margin-left: 5%;"
          color="primary"
          mat-raised-button
          (click)="openTableOptionsDialog()">
    <span class="material-icons">settings</span>
    Table options
  </button>
</div>

<mat-form-field>
  <mat-label>Filter <small>(press Enter to apply)</small></mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. description:*EM,id>1">
</mat-form-field>

<div class="products-table">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          ID
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!descriptionMap.get(element.id)">
            <button class="option-button"
                    (click)="showDescription(element.id)"
                    color="primary"
                    mat-icon-button>
              <i>Show description</i>
            </button>
          </div>
          <div *ngIf="descriptionMap.get(element.id)">
            <button (click)="hideDescription(element.id)"
                    style="margin: 0px;"
                    color="primary"
                    mat-icon-button>
              <i>Hide description</i>
            </button>
            <span>
              <br>{{element.description}}
            </span>
          </div>
        </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
        <td mat-cell *matCellDef="let element"> ${{element.price}} </td>
      </ng-container>

      <!-- GroupId Column -->
      <ng-container matColumnDef="groupId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Group ID</th>
        <td mat-cell *matCellDef="let element">
          <a [title]="'Group details'" (click)="openProductGroupDetails(element.groupId)">
            {{element.groupId}}
          </a>
        </td>
      </ng-container>

      <!-- Sold Column -->
      <ng-container matColumnDef="sold">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sold</th>
        <td mat-cell *matCellDef="let element">
          <span [title]="'This product is sold.'" class="material-icons" *ngIf="element.sold">
            done_outline
          </span>
        </td>
      </ng-container>

      <!-- Options Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Options</th>
        <td mat-cell *matCellDef="let element">
          <button [title]='"Buy " + element.name' mat-mini-fab (click)="buyProduct(element)" class="option-button"
                  color="accent" mat-raised-button>
            <mat-icon fontSet="material-icons-outlined" matSuffix
            >add_shopping_cart
            </mat-icon>
          </button>
          <button [title]='"Edit " + element.name' mat-mini-fab [routerLink]="['/products/update', element.id]"
                  class="option-button" color="primary"
                  mat-raised-button>
            <mat-icon fontSet="material-icons-outlined" matSuffix
            >edit
            </mat-icon>
          </button>
          <button [title]='"Delete " + element.name' mat-mini-fab (click)="deleteProduct(element)" class="option-button"
                  color="warn" mat-raised-button>
            <mat-icon fontSet="material-icons-outlined" matSuffix
            >delete
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    </table>
    <mat-paginator #paginator (page)="pageEvent = refreshData($event)" [length]="page.totalElements"
                   [pageIndex]="page.number" [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="page.size"
                   showFirstLastButtons></mat-paginator>

  </div>
</div>
