.main-content {
  --accent-color: rgba(98, 0, 238, 0.45);
  /*height: 100vh;*/
  padding-bottom: 5%;

  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(99,0,238,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(99,0,238,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(99,0,238,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(99,0,238,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(99,0,238,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(99,0,238,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#6300ee', GradientType=0 );
}
