<button id="close-button" mat-mini-fab class="option-button" color="warn" mat-icon-button (click)="closeDialog()">
  <mat-icon fontSet="material-icons-outlined" matSuffix
  >clear
  </mat-icon>
</button>
<h1 mat-dialog-title>Product Group details:</h1>
<mat-dialog-content>
  <div class="container2">
    <div class="container">
      <strong>ID: </strong>{{group.id}}
    </div>

    <div class="container">
      <strong>Name: </strong>{{group.name}}
    </div>

    <div class="container">
      <strong>Description: </strong>
      <ul>
        <li>
          {{group.description}}
        </li>
      </ul>
    </div>


    <div class="container">
      <strong>Products: </strong>
      <div *ngFor="let product of group.products">
        <ul>
          <li>ID: {{product.id}}</li>
            <ul>
              <li>Name: {{product.name}}</li>
              <li>Description: {{product.description}}</li>
              <li>Price: {{product.price}}</li>
              <li>Sold: {{product.sold}}</li>
            </ul>
        </ul>
      </div>
    </div>

  </div>
</mat-dialog-content>
<div *ngIf="group.id!=1" class="button-container">
  <button class="material-cust-large-button" (click)="goToUpdateComponent()" color="primary" mat-raised-button>
    Edit this group
  </button>
</div>
