<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form *ngIf="!isSuccessful" (ngSubmit)="onSubmit()" [formGroup]="registerForm">

      <div class="form-field">
        <mat-form-field hintLabel="3-20 characters" appearance="outline">
          <mat-label>Enter your name</mat-label>
          <input #input matInput minlength="3" maxlength="20" placeholder="username" formControlName="name">
          <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="email@example.com" formControlName="email" required>
          <mat-error *ngIf="registerForm.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>


      <div class="form-field">
        <mat-form-field appearance="outline" hintLabel="Min 6 characters">
          <mat-label>Enter your password</mat-label>
          <input matInput minlength="6" [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>


      <div class="form-group-submit-button">
        <button mat-raised-button color="primary">
          <span class="material-icons">group_add</span>
          Sign Up
        </button>
      </div>

      <div class="alert alert-warning" *ngIf="isSubmitted && isSignUpFailed">
        Signup failed!<br/>{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
