
label {
  display: block;
  margin-top: 10px;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.form-group-submit-button {
  margin-top: 10px;
  text-align: center;
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 30px 54px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 30px 54px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 30px 54px 0px rgba(0,0,0,0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.75);
}

.form-group-submit-button {
  margin-top: 20px;
  text-align: center;
}

mat-form-field {
  width: 70%;
}
