<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
    Menu
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog()">
      <mat-icon>info</mat-icon>
      <span routerLink="/about">About</span>
    </button>
  </mat-menu>

  <span class="example-spacer"></span>

  <!--  Logged in below:-->
  <span class="mat-tab-nav-bar" *ngIf="isLoggedIn" routerLink="">
    <mat-icon aria-hidden="false" aria-label="Example home icon">perm_identity</mat-icon>PROFILE
  </span>
  <span class="example-spacer" *ngIf="isLoggedIn"></span>
  <span class="mat-tab-nav-bar" *ngIf="isLoggedIn" routerLink="/groups">
    <span class="material-icons">view_list</span>
    Categories
  </span>

  <span class="example-spacer" *ngIf="isLoggedIn"></span>
  <span class="mat-tab-nav-bar" *ngIf="isLoggedIn" routerLink="/products">
    <span class="material-icons">view_list</span>
    Products
  </span>

  <!--  Logged out below:-->
  <span class="mat-tab-nav-bar" *ngIf="!isLoggedIn" routerLink="">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>Storage
  </span>
  <span class="example-spacer" *ngIf="!isLoggedIn"></span>
  <span class="mat-tab-nav-bar" *ngIf="!isLoggedIn" routerLink="register">
    <span class="material-icons">group_add</span>
    Sign Up
  </span>

  <span class="example-spacer" *ngIf="!isLoggedIn"></span>
  <span class="mat-tab-nav-bar" *ngIf="!isLoggedIn" routerLink="login">
    <mat-icon aria-hidden="false" aria-label="Login icon">login</mat-icon>
    Login
  </span>
</mat-toolbar>
