<div class="col-md-12">
  <div class="card card-container">
    <form (ngSubmit)="submitForm()" [formGroup]="editProductGroupForm" class="new-obj-form" id="register-form">

      <h1><i>Enter values below:</i></h1>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input formControlName="name" id="title" matInput maxlength="100" #nameInput>
        <mat-hint align="end">{{nameInput.value?.length || 0}}/100</mat-hint>

      </mat-form-field>
      <div *ngIf="isFormSubmitted && editProductGroupForm.controls.name.errors"
           class="invalid-feedback">
        <div *ngIf="editProductGroupForm.controls.name.errors.maxlength">
          Name is too long
        </div>
        <div *ngIf="editProductGroupForm.controls.name.errors.required">
          Name is required
        </div>
      </div>


      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input formControlName="description" id="description" matInput maxlength="100" #descriptionInput/>
        <mat-hint align="end">{{descriptionInput.value?.length || 0}}/100</mat-hint>

      </mat-form-field>
      <div *ngIf="isFormSubmitted && editProductGroupForm.controls.description.errors"
           class="invalid-feedback">
        <div *ngIf="editProductGroupForm.controls.description.errors.maxlength">
          Description is too long
        </div>
        <div *ngIf="editProductGroupForm.controls.description.errors.required">
          Description is required
        </div>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Products</mat-label>
        <mat-select formControlName="products" multiple>
          <mat-option *ngFor="let product of availableProducts" [value]="product">
            {{product.name}}
            <i><small>(ID: {{product.id}})</small></i>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button-container">
        <button style="float: left; margin-left: 20px;" color="primary" mat-mini-fab (click)="goBack()">
          <span class="material-icons">arrow_back</span>
        </button>
        <button style="float: right; margin-right: 20px;" color="primary" mat-raised-button type="submit">
          Create product group
        </button>

      </div>

    </form>
  </div>
</div>
