<button id="close-button" mat-mini-fab class="option-button" color="warn" mat-icon-button (click)="closeDialog()">
  <mat-icon fontSet="material-icons-outlined" matSuffix
  >clear
  </mat-icon>
</button>
<h1 mat-dialog-title>Choose an export method: </h1>
<div style="text-align: center">
  <a style="padding-right: 75px;" [title]="'Download as .xlsx (Excel) file'" (click)="downloadAsExcel()">
    <img src="../../../../../assets/img/excel-icon-round.png" width="75" height="75">
  </a>
  <a style="padding-right: 75px;" [title]="'Download as .pdf file'" (click)="downloadAsPdf()">
    <img src="../../../../../assets/img/pdf-icon-round.png" width="75" height="75">
  </a>
  <a [title]="'Send via mial'" (click)="sendInMail()">
    <img src="../../../../../assets/img/mail-icon-round.png" width="75" height="75">
  </a>
</div>
