#close-button {
  float:right;
}

h1 {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 4px;
}

mat-form-field {
  width: 70%;
}

.form-group-submit-button {
  margin-top: 15px;
  text-align: center;
}
