.button-container {
  text-align: center;
  padding-top: 16px;
  height: auto;
}

#add-new-product-button {
  margin-right: 5%;
}

#download-button {
  margin-left: 5%;
}

.mat-form-field {
  width: 25%;
  margin-left: 20px;
  margin-right: 20px;
}

table {
  width: 100%;
}

th {
  font-size: 18px;
  font-weight: bold;
}

td {
  font-size: 15px;
}

.option-button {
  margin-right: 7px;
  margin-bottom: 7px;
  margin-top: 7px;
}

.products-table {
  margin-right: 20px;
  margin-left: 20px;
}

a {
  color: #0a0a0a;
  text-decoration: none;
}

a:hover {
  color: #e01023;
  cursor: pointer;
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), 0 0 1em rgba(0, 0, 0, 0.25), 0 0 0.2em rgba(0, 0, 0, 0.25);
}

caption {
  background-color: darkgrey;
  color: white;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  overflow-wrap: break-word;
  padding-right: 5vh;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  max-width: 20vh;
}
