<div class="button-container">
  <button id="add-new-product-group-button" color="primary" mat-raised-button routerLink="/groups/add" [title]='"Click here to add new product"'>
    <span class="material-icons">add_circle_outline</span>
    Add new product group
  </button>
  <button id="download-button" color="primary" mat-raised-button (click)="openDownloadDialog()">
    <span class="material-icons">save_alt</span>
    Export table
  </button>
  <button style="margin-left: 5%;"
          color="primary"
          mat-raised-button
          (click)="openTableOptionsDialog()">
    <span class="material-icons">settings</span>
    Table options
  </button>
</div>

<mat-form-field>
  <mat-label>Filter <small>(press Enter to apply)</small></mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. description:*EM,id>1">
</mat-form-field>

<div class="products-table">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!descriptionMap.get(element.id)">
            <button class="option-button"
                    (click)="showDescription(element.id)"
                    color="primary"
                    mat-icon-button>
              <i>Show description</i>
            </button>
          </div>
          <div *ngIf="descriptionMap.get(element.id)">
            <button (click)="hideDescription(element.id)"
                    style="margin: 0px;"
                    color="primary"
                    mat-icon-button>
              <i>Hide description</i>
            </button>
            <span>
              <br>{{element.description}}
            </span>
          </div>
      </ng-container>

      <!-- Products Column -->
      <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef> Products</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!productsMap.get(element.id)">
            <button *ngIf="element.products.length > 0" (click)="findProductsByGroupId(element.id)" class="option-button"
                    color="primary"
                    mat-icon-button>
              <i>Show products</i>
            </button>
          </div>
          <div *ngIf="productsMap.get(element.id)">
            <button (click)="hideProducts(element.id)"
                    style="margin: 0px;"
                    color="primary"
                    mat-icon-button>
              <i>Hide products</i>
            </button>
            <ul>
              <div *ngFor="let product of products">
                <a [title]="product.name + ' details'" (click)="openProductDetails(product)">
                  <li><i>{{product.name}} <small>(ID: {{product.id}})</small></i></li>
                </a>
              </div>
            </ul>
          </div>
        </td>
      </ng-container>

      <!-- Options Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Options</th>
        <td mat-cell *matCellDef="let element">
          <button [title]='"Edit " + element.name' mat-mini-fab color="primary" class="option-button" type="button"
                  *ngIf="element.id!=1" [routerLink]="['/groups/update', element.id]">
            <mat-icon fontSet="material-icons-outlined" matSuffix
            >edit
            </mat-icon>
          </button>
          <button [title]='"Delete " + element.name' mat-mini-fab *ngIf="element.id!=1"
                  (click)="deleteProductGroup(element)" class="option-button" color="warn"
                  type="button" mat-raised-button>
            <mat-icon fontSet="material-icons-outlined" matSuffix
            >delete
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    </table>
    <mat-paginator #paginator (page)="pageEvent = refreshData($event)" [length]="page.totalElements"
                   [pageIndex]="page.number" [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="page.size"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
