/* You can add global styles to this file, and also import other style files */

html {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-field {
  text-align: center;
  margin-top: 15px;
}

.mat-success {
  background-color: #00ac00;
  color: #fff;
}
