<button id="close-button"
        mat-mini-fab class="option-button"
        color="warn"
        mat-icon-button
        (click)="closeDialog()">
  <mat-icon fontSet="material-icons-outlined" matSuffix
  >clear
  </mat-icon>
</button>
<h1>
  Table options:
</h1>
<mat-checkbox [(ngModel)]="descriptionsVisible" (change)="setDescriptionsVisibility($event.checked)" color="warn">
  Show all descriptions
</mat-checkbox>
